<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Front-end web developer based in Prague"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>I am Honza</title>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="manifest.json" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#e26d5a" />
    <meta name="theme-color" content="#e26d5a" />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="grid">
      <section class="section">
        <h1>Honza</h1>
        <p>
          I am a front-end web developer at
          <a href="https://mews.com" target="_blank" rel="noreferrer noopener"
            >Mews</a
          >
          and
          <a href="https://meds.cz" target="_blank" rel="noreferrer noopener"
            >MEDS</a
          >. Nice to meet you.
        </p>
        <nav>
          <ul>
            <li>
              <a
                href="https://instagram.com/i_am_honza"
                target="_blank"
                rel="noreferrer noopener"
                ><img src="<%= require('./src/assets/instagram.svg') %>"
              /></a>
            </li>
            <li>
              <a
                href="https://linkedin.com/in/iamhonza/"
                target="_blank"
                rel="noreferrer noopener"
                ><img src="<%= require('./src/assets/linkedin.svg') %>"
              /></a>
            </li>
            <li>
              <a
                href="https://gitlab.com/users/jhruby/projects"
                target="_blank"
                rel="noreferrer noopener"
                ><img
                  src="<%= require('./src/assets/gitlab.svg') %>"
                  class="icon--gitlab"
              /></a>
            </li>
            <li>
              <a href="mailto:hi@iamhonza.com"
                ><img src="<%= require('./src/assets/mail.svg') %>"
              /></a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="section">
        <div class="section__image photo">
          <img
            src="<%= require('./src/assets/photo.jpg') %>"
            alt="Honza's photo"
          />
        </div>
        <div class="section__text">
          <h2>About me</h2>
          <p>
            You can check out my work experience and much more in the provided
            résumé. Let me know if you're interested.
          </p>
          <a
            href="<%= require('./src/assets/Honza_Hruby_CV.pdf') %>"
            download="Honza Hrubý CV"
            >Download CV</a
          >
        </div>
      </section>

      <section class="section">
        <div class="section__image">
          <img
            src="<%= require('./src/assets/illustrations/1.png') %>"
            alt="Illustration"
            id="illustration"
          />
        </div>
        <div class="section__text">
          <h2>Read more</h2>
          <p>
            I've just started publishing on Medium, come see it!
          </p>
          <a
            href="https://medium.com/@jhruby"
            target="_blank"
            rel="noreferrer noopener"
            >Go to my blog</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
