$accent: #e26d5a;
$secondary: #aac6fc;
$text: rgba(#000, 0.8);
$text-light: rgba(#000, 0.54);
$white: #fff;

html,
body {
  font-family: "Titillium Web", --apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  color: $text;
  line-height: 1.35;
}
