.grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  flex-wrap: wrap;
}

.section {
  min-height: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media screen and (min-width: 640px) {
    &:not(:first-of-type) {
      flex-basis: calc(100% / 2);
    }
  }

  @media screen and (min-width: 1024px) {
    &:first-of-type,
    &:not(:first-of-type) {
      flex-basis: calc(100% / 3);
    }
  }

  &:last-of-type {
    @media screen and (min-width: 640px) {
      flex-direction: column-reverse;
    }

    .section__image {
      padding: 64px 48px;
      background-color: $secondary;
    }
  }
}

.section__text {
  padding: 40px 32px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;

  h2 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    margin-bottom: 12px;
    color: $text-light;
  }

  a {
    border-bottom: 1px dashed $text-light;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

.section:first-of-type {
  background-color: $accent;
  color: $white;
  justify-content: center;
  padding: 40px;

  h1 {
    font-size: 64px;
    letter-spacing: 4px;
    margin-top: auto;
    font-weight: 600;
  }

  p {
    font-size: 24px;
  }

  nav {
    margin-top: auto;

    ul {
      display: flex;
      align-items: center;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      &.icon--gitlab {
        width: 40px;
        height: 40px;
        margin-left: -8px;
        margin-right: 8px;
      }
    }
  }
}

.photo {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  background-image: url("../assets/photo.jpg");
  background-size: cover;
  background-position: center;

  img {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    transform: scale(1.1);
    @supports (mix-blend-mode: multiply) {
      background-color: magenta;
      background-blend-mode: screen;

      &::before,
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        mix-blend-mode: multiply;
        background-blend-mode: screen;
        transform: scale(1.03);
      }

      &::before {
        background-color: yellow;
        transform-origin: top left;
      }

      &::after {
        background-color: cyan;
        transform-origin: bottom right;
      }
    }
  }
}
